@import url(https://fonts.googleapis.com/css2?family=Urbanist);

:root{
    --blue-1: #011E34;
    --blue-2: #092e4a;
    --blue-3: #26648A;
    --blue-4: #3B94C4;
    --blue-5: #62A7CF;
    --blue-6: #89BADA;
    --blue-7: #b8cfde;
    --off-white: #e2e8ec;
    --off-black: #010c14;
    --clear: #00000000; 
}

.body-box{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box{
    width: 80vw;
    min-height: 60%;
    background-color: #ffffff90;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    position: relative;
    border-radius: 0.25rem;
}



.input-field{
    border-radius: 0.15rem;
    width: 99%;
    height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    background-color: #ffffffd0;
    border: 0.5px solid black;
}

.input-field:focus{
    border: 1px solid var(--blue-5);
}

label{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
}

.form-message{
    display: flex;
    flex-direction: column;
}

.message-field{
    width: 99%;
    height: 5rem;
    border-radius: 0.15rem;
    font-size: 1.5rem;
}

.submit-btn{
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    background-color: var(--blue-4);
    color: white;
    border: none;
    border-radius: 0.2rem;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: var(--blue-5);
}

.page-title{
    font-size: 7.5rem;
    font-family: 'Figtree', san-serif;
    font-weight: bolder;
    color: var(--blue-6);
    /* text-shadow: 0.1rem 0.15rem 0.5rem var(--off-black); */
    opacity: 1;
    z-index: 2;
    margin-left: 5rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

span{
    display: inline;
}

@media screen and (max-width: 680px) {
    .page-title{font-size: 4rem; margin-left: 3rem;}
}